.navbar-container {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: slide-from-top 0.3s ease-out;
}

.navbar-section-l {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    padding-left: 10vw;
    gap: 4rem;
}

.navbar-section-r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    padding-right: 10vw;
    gap: 4rem;
}

.navbar-mobile {
    display: none;
}

.navbar-link {
    font-family: var(--font-archivo);
    font-size: 18pt;
    font-weight: 500;
    color: var(--light);
    text-decoration-color: var(--invis);
    transition: ease all 0.15s;
}

.navbar-link:hover {
    color: var(--blue);
    text-shadow: 0px -10px 15px var(--blue-glow);
    text-decoration-color: var(--blue);
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
  }

@keyframes slide-from-top {
    0% {
        opacity: 0%;
        translate: 0% -10%;
    }
    100% {
        opacity: 100%;
        translate: 0% 0%;
    }
}

@media (max-width: 500px) {
    .navbar-container {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        width: 90vw;
        height: 80px;
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        padding: 5vw;
        padding-top: 5vw;
        animation: slide-from-top 0.3s ease-out;
    }

    .navbar-link {
        font-size: 12px;
    }
}

@media (min-width: 500px) and (max-width: 844px) {
    .navbar-container {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        width: 90vw;
        height: 80px;
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        padding: 5vw;
        padding-top: 5vw;
        animation: slide-from-top 0.3s ease-out;
    }

    .navbar-link {
        font-size: 20px;
    }
}

@media (min-width: 845px) and (max-width: 1024px) {
    .navbar-container {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        width: 90vw;
        height: 80px;
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        padding: 5vw;
        padding-top: 5vw;
        animation: slide-from-top 0.3s ease-out;
    }

    .navbar-link {
        font-size: 24px;
    }
}
