:root {
  --light: #EAE8FF;
  --sub-light: #C6CAFF;
  --body: #8BAAEB;
  --blue: #6163FC;
  --blue-glow: #6164fc55;
  --dark: #0A0111;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark);
  overflow-x: hidden;
}

h1 {
  display: inline;
  font-family: var(--font-archivo);
  font-size: 80px;
  font-weight: 750;
  color: var(--light);
  margin-top: 10px;
  margin-bottom: 0px;
}

h1.gradient-text {
  background: -webkit-linear-gradient(left, var(--body), var(--blue), var(--body));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: scroll-gradient-horizontal 8s linear infinite;
}

h2 {
  font-family: var(--font-archivo);
  font-size: 50px;
  font-weight: 750;
  color: var(--blue);
  margin-top: 10px;
  margin-bottom: 0px;
}

h3 {
  font-family: var(--font-archivo);
  font-size: 25px;
  font-weight: 500;
  color: var(--light);
  margin-top: 10px;
  margin-bottom: 0px;
}

p {
  display: inline;
  font-family: var(--font-archivo);
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  color: var(--sub-light);
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: var(--light);
  text-decoration-color: var(--blue-glow);
  transition: ease all 0.15s;
}

a.highlight {
  font-weight: 700;
}

a:hover {
  color: var(--blue);
  text-shadow: 0px 0px 15px var(--blue);
  text-decoration-color: var(--blue);
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

.highlight {
  font-weight: 700;
  color: var(--light);
}

.marquee-container {
  display: flex;
  width: 80%;
  margin: 50px 10%;
  height: fit-content;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  flex-direction: row;
}

.marquee-content {
  width: 100%;
  white-space: no-wrap;
  text-overflow: clip;
  /* text-wrap: nowrap; */
  animation: marquee 20s linear infinite;
}

.skill {
  display: inline-block;
  font-family: var(--font-archivo);
  font-size: 20px;
  font-weight: 600;
  color: var(--body);
  align-items: center;
  gap: 8px;
  margin: 0px 20px;
  white-space: nowrap;
}

.skill-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.header-section {
  display: flex;
  height: 10vh;
  padding: 15%;
  background-image: linear-gradient(#00000000, var(--dark));
}

.header-column {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0% 10%;
}

.header-column.l {
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.header-column.r {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.body-section {
  display: flex;
  padding: 2% 15%;
  background-color: var(--dark);
}

.body-column {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0% 10%;
  flex-direction: column;
}

.image-circle {
  display: block;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 70px var(--blue-glow);
}

.spotlight-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(circle 15vw at var(--x, 50%) var(--y, 50%), var(--blue-glow), #00000000);
  z-index: -1;
  transition: background-position 0.1s ease;
  mix-blend-mode: soft-light;
}

.background {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  inset: 0;
  position: fixed;
  z-index: -3;
  background-image: radial-gradient(38% 56% at 51% 110%, rgba(155, 133, 255, 0.712) 0%, rgba(193, 139, 255, 0.521) 22%, #7226ff1c 73%, #0803256e 100%),
                    radial-gradient(10% 106% at 52% 132%, #5F5CA7C7 0%, #01031026 99%),
                    radial-gradient(98% 106% at 99% 111%, rgb(155, 92, 255) 0%, #00135ede 100%),
                    radial-gradient(54% 110% at 52% 110%, #B08AF6FF 0%, #073AFF00 100%),
                    linear-gradient(246deg, #073AFF00 30%, #712bfc48 60%, #F847FF00 78%),
                    linear-gradient(0deg, #0A0110FF 0%, #0A0110FF 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: twinkle-2 15s alternate infinite;
}

.background-beam {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  inset: 0;
  position: fixed;
  z-index: -2;
  background-image: linear-gradient(246deg, #00000000 30%, #94b9ff 60%, #00000000 78%);
  animation: twinkle-2 6s alternate infinite;
  mix-blend-mode: soft-light;
}

.background-beam-2 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  inset: 0;
  position: fixed;
  z-index: -2;
  background-image: linear-gradient(246deg, #073AFF00 0%, #6055f8de 30%, #F847FF00 40%);
  animation: twinkle-2 3s alternate infinite;
  mix-blend-mode: soft-light;
}

.particles::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-image:
    radial-gradient(circle, rgba(255, 255, 255, 0.26) 1px, transparent 1px);
  background-size: 30px 30px;
  animation: twinkle 5s alternate infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes twinkle {
  0% {
    opacity: 20%;
  }
  100% {
    opacity: 60%;
  }
}

@keyframes twinkle-2 {
  0% {
    opacity: 25%;
  }
  100% {
    opacity: 75%;
  }
}

@keyframes scroll-gradient-vertical {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 200%;
  }
}

@keyframes scroll-gradient-horizontal {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
